Repository modiase/algos: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-py, format-nix, format-c, format-go, remove-trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-py
        name: format Python files
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: format-nix
        name: format Nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-c
        name: format C/C++ files
        entry: bash
        language: system
        files: \.(c|cpp|cc|cxx|h|hpp|hh|hxx)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p astyle fd --run 'fd -e c -e cpp -e cc -e cxx -e h -e hpp -e hh -e hxx -x astyle --style=linux --suffix=none'"
      - id: format-go
        name: format Go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p go fd --run 'fd -e go -x gofmt -s -w'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: wip-commit-msg-check
        name: Check @WIP requires WIP prefix
        entry: bash
        language: system
        stages: [commit-msg]
        always_run: true
        pass_filenames: true
        args:
          - -c
          - |
            commit_msg_file="${@: -1}"
            if git diff --cached 2>/dev/null | grep -q "@WIP" 2>/dev/null; then
              commit_msg=$(head -n1 "$commit_msg_file")
              if ! echo "$commit_msg" | grep -q "^WIP:"; then
                echo "‚ùå ERROR: Found @WIP in staged changes."
                echo "Either remove @WIP markers or prefix your commit message with WIP:"
                exit 1
              fi
            fi

Format code
  algos/clrs-introduction-to-algorithms/4-divide-and-conquer/maximum-subarray.cpp
Due: format-c, remove-trailing-whitespace

Add splay tree implementation
  algos/data-structures/trees/splay-tree/demo.py
  algos/data-structures/trees/splay-tree/splay.py
  algos/data-structures/trees/splay-tree/test_splay.py
Due: format-py, remove-trailing-whitespace

Implement rand algos
  algos/mathematics/combinatorics/fisher_yates.py
  algos/mathematics/combinatorics/permutations_recursive.py
Due: format-py, remove-trailing-whitespace

Add rotational sweep
  algos/clrs-introduction-to-algorithms/33-computational-geometry/rotational_sweep.py
Due: format-py, remove-trailing-whitespace

Add grahams_scan and 3d use-case
  algos/clrs-introduction-to-algorithms/33-computational-geometry/grahams_scan.py
  algos/clrs-introduction-to-algorithms/33-computational-geometry/project_3d.py
Due: format-py, remove-trailing-whitespace

Demo random vs sequential mem access
  algos/hardware/memory/.gitignore
  algos/hardware/memory/bench.cpp
  algos/hardware/memory/meson.build
  algos/hardware/memory/plot.gp
  algos/hardware/memory/run.sh
Due: format-c, remove-trailing-whitespace

Ignore CLAUDE.md; typecheck numpy properly
  .gitignore
  bin/typecheck.sh
Due: remove-trailing-whitespace

Implement good turing missing mass estimate
  algos/mathematics/stats/__init__.py
  algos/mathematics/stats/box_muller.py
  algos/mathematics/stats/good_turing.py
  algos/mathematics/stats/median_of_medians.py
  algos/mathematics/stats/partition.py
  algos/mathematics/stats/pca.py
  algos/mathematics/stats/phi_coefficient.py
  algos/mathematics/stats/reservoir_sampling.py
  algos/mathematics/stats/sorting/__init__.py
  algos/mathematics/stats/sorting/bubblesort.py
  algos/mathematics/stats/sorting/counting.py
  algos/mathematics/stats/sorting/countsort.py
  algos/mathematics/stats/sorting/helpers.py
  algos/mathematics/stats/sorting/insertsort.py
  algos/mathematics/stats/sorting/kahn.py
  algos/mathematics/stats/sorting/memory.py
  algos/mathematics/stats/sorting/partition.py
  algos/mathematics/stats/sorting/quicksort.py
  algos/mathematics/stats/sorting/radixsort.py
  algos/mathematics/stats/sorting/testing.py
Due: format-py, remove-trailing-whitespace

Add matrix power implementation
  algos/mathematics/linear-algebra/matrix_power.py
Due: format-py, remove-trailing-whitespace

Add RB chunking implementation
  algos/search/rb_chunking.py
Due: format-py, remove-trailing-whitespace

Configure pyright to report unused imports/vars
  pyproject.toml
Due: remove-trailing-whitespace

Create venv for language server
  flake.lock
  flake.nix
  pyrightconfig.json
Due: format-nix, remove-trailing-whitespace

Add stochastic rounding demo
  algos/mathematics/numerical/stochastic_rounding.py
Due: format-py, remove-trailing-whitespace

Implement python CPS example
  algos/functional/continuation.py
Due: format-py, remove-trailing-whitespace

ruff sort
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
  algos/data-structures/trees/merkle-tree/merkle_tree.py
  algos/mathematics/numerical/newton_raphson/implicit.py
  algos/mathematics/signal-analysis/transpose-conv1d.py
  algos/mathematics/signal-analysis/transpose-conv2d.py
  algos/mathematics/stats/reservoir_sampling.py
Due: format-py, remove-trailing-whitespace

use just
  .pre-commit-config.yaml
  flake.nix
  justfile
Due: format-nix, remove-trailing-whitespace

cryptography: implement diffie-hellman example
  algos/mathematics/cryptography/diffie_hellman.py
Due: format-py, remove-trailing-whitespace
