Repository modiase/algos: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-py, format-nix, format-c, remove-trailing-whitespace

format-py:
  name: format Python files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

format-nix:
  name: format Nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-c:
  name: format C files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p indent fd --run 'fd -e c -e h -x sh -c "indent -linux -o {} {}"'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

Use astyle instead for formatting C files
  .pre-commit-config.yaml
  algos/clrs-introduction-to-algorithms/17-amortised-analysis/dynamic-table/main.c
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/inc/disjoint_set.h
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/src/main.c
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/test/test_basic_operations.c
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/test/test_complex_scenarios.c
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/test/test_main.c
  algos/clrs-introduction-to-algorithms/21-disjoint-sets/disjoint_set/test/test_union_operations.c
  algos/clrs-introduction-to-algorithms/4-divide-and-conquer/maximum-subarray.cpp
  algos/clrs-introduction-to-algorithms/data-structures/hash-map/hash-map.c
  algos/clrs-introduction-to-algorithms/data-structures/hash-map/hash-map.h
  algos/clrs-introduction-to-algorithms/data-structures/hash-map/main.c
  algos/clrs-introduction-to-algorithms/data-structures/linked-list/include/linked-list.h
  algos/clrs-introduction-to-algorithms/data-structures/linked-list/linked-list-main.c
  algos/clrs-introduction-to-algorithms/data-structures/linked-list/linked-list.c
  algos/daily-coding-problems/0014/solution.cpp
  algos/data-structures/queues/ring-buffer/src/buffer.c
  algos/data-structures/queues/ring-buffer/src/buffer.h
  algos/data-structures/queues/ring-buffer/src/ring_buffer_module.c
  algos/leetcode/gas-can-complete-circuit.cpp
  algos/leetcode/h-index.cpp
  algos/leetcode/median-two-sorted-arrays/median-two-sorted-arrays.cpp
  algos/leetcode/median-two-sorted-arrays/median-two-sorted-arrays.hpp
  algos/leetcode/median-two-sorted-arrays/solution.cpp
  algos/leetcode/median-two-sorted-arrays/timeit.cpp
  algos/leetcode/merge-k-sorted-lists.cpp
  algos/leetcode/myatoi.cpp
  algos/leetcode/trapping-rain-water/solution-n-squared.cpp
  algos/leetcode/zigzag-conversion.cpp
  algos/project-euler/solutions/1/solution.cpp
  algos/project-euler/solutions/4/solution.cpp
  algos/project-euler/solutions/5/solution.cpp
  algos/project-euler/solutions/6/solution.cpp
  algos/project-euler/solutions/7/solution.cpp
  algos/project-euler/solutions/8/solution.cpp
Due: format-c, remove-trailing-whitespace

Add binomial heap implementation
  algos/data-structures/heaps/binomial-heap/flake.lock
  algos/data-structures/heaps/binomial-heap/flake.nix
  algos/data-structures/heaps/binomial-heap/inc/binomial-heap.h
  algos/data-structures/heaps/binomial-heap/meson.build
  algos/data-structures/heaps/binomial-heap/src/binomial-heap.c
  algos/data-structures/heaps/binomial-heap/src/main.c
  algos/data-structures/heaps/binomial-heap/test/test_main.c
Due: format-nix, format-c, remove-trailing-whitespace

Panic if alloc fails
  algos/data-structures/heaps/binomial-heap/inc/binomial-heap.h
  algos/data-structures/heaps/binomial-heap/src/binomial-heap.c
  algos/data-structures/heaps/binomial-heap/test/test_main.c
Due: format-c, remove-trailing-whitespace

Add gofmt to pre-commit
  .pre-commit-config.yaml
Due: remove-trailing-whitespace

Add segment tree implementation
  algos/data-structures/trees/segment-tree/go.mod
  algos/data-structures/trees/segment-tree/pkg/segment_tree.go
  algos/data-structures/trees/segment-tree/test/segment_tree_test.go
Due: remove-trailing-whitespace

Lower allocation; add more tests
  algos/data-structures/trees/segment-tree/pkg/segment_tree.go
  algos/data-structures/trees/segment-tree/test/segment_tree_test.go
Due: remove-trailing-whitespace

Add binary index tree implementation
  algos/data-structures/trees/binary-indexed-tree/go.mod
  algos/data-structures/trees/binary-indexed-tree/pkg/bit.go
  algos/data-structures/trees/binary-indexed-tree/test/bit_test.go
Due: remove-trailing-whitespace

Make review updates
  algos/data-structures/trees/binary-indexed-tree/pkg/bit.go
Due: remove-trailing-whitespace

Add AVL tree implementation
  algos/data-structures/trees/avl-tree/go.mod
  algos/data-structures/trees/avl-tree/pkg/avl.go
  algos/data-structures/trees/avl-tree/test/avl_test.go
Due: remove-trailing-whitespace

Add find_all_overlaps implementation
  algos/search/find_all_overlaps/go.mod
  algos/search/find_all_overlaps/pkg/overlaps.go
  algos/search/find_all_overlaps/pkg/overlaps_test.go
Due: remove-trailing-whitespace

Add skew+lefist heap implementations
  algos/data-structures/heap/leftist/go.mod
  algos/data-structures/heap/leftist/leftist.go
  algos/data-structures/heap/leftist/leftist_test.go
  algos/data-structures/heap/skew/go.mod
  algos/data-structures/heap/skew/skew.go
  algos/data-structures/heap/skew/skew_test.go
Due: remove-trailing-whitespace

WIP: Add extract min
  algos/data-structures/heap/leftist/leftist.go
  algos/data-structures/heap/leftist/leftist_test.go
  algos/data-structures/heap/skew/skew.go
  algos/data-structures/heap/skew/skew_test.go
Due: remove-trailing-whitespace

Add WIP check to pre-commit
  .pre-commit-config.yaml
Due: remove-trailing-whitespace

WIP
  algos/data-structures/heap/.gitignore
  algos/data-structures/heap/heap_statistics.go
  algos/data-structures/heap/leftist/leftist.go
  algos/data-structures/heap/plot_statistics.py
  algos/data-structures/heap/skew/skew.go
Due: format-py, remove-trailing-whitespace

Add leftist vs skew heap statistics exploration
  algos/data-structures/heap/heap_statistics.go
  algos/data-structures/heaps/.gitignore
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/.gitignore
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/go.mod
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/main.go
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/plot_statistics.py
  algos/data-structures/heaps/leftist/go.mod
  algos/data-structures/heaps/leftist/leftist.go
  algos/data-structures/heaps/leftist/leftist_test.go
  algos/data-structures/heaps/skew/go.mod
  algos/data-structures/heaps/skew/skew.go
  algos/data-structures/heaps/skew/skew_test.go
Due: format-py, remove-trailing-whitespace

Add leftist vs skew heap statistics exploration
  algos/data-structures/heap/skew/skew.go
  algos/data-structures/heaps/.gitignore
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/.gitignore
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/go.mod
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/main.go
  algos/data-structures/heaps/leftist-vs-skew-heap-stats/plot_statistics.py
  algos/data-structures/heaps/leftist/go.mod
  algos/data-structures/heaps/leftist/leftist.go
  algos/data-structures/heaps/leftist/leftist_test.go
  algos/data-structures/heaps/skew/go.mod
  algos/data-structures/heaps/skew/skew.go
  algos/data-structures/heaps/skew/skew_test.go
Due: format-py, remove-trailing-whitespace

Add next_greater_element solution
  algos/mathematics/order-statistics/next-greater-element/go.mod
  algos/mathematics/order-statistics/next-greater-element/next_greater_element.go
  algos/mathematics/order-statistics/next-greater-element/next_greater_element_test.go
Due: remove-trailing-whitespace

Solve leetcode 34
  algos/leetcode/0034-find-first-and-last-position-in-sorted-array.py
Due: format-py, remove-trailing-whitespace

Add bipartite coloring solution
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-2-7.py
Due: format-py, remove-trailing-whitespace

Implement stack based DFS with state bit
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-2-7.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/__init__.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
Due: format-py, remove-trailing-whitespace

Add iterative dfs with one bit
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
Due: format-py, remove-trailing-whitespace

Optimise further
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
Due: format-py, remove-trailing-whitespace

Add bfs
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/bfs.py
Due: format-py, remove-trailing-whitespace

Add solutions for 22.4-1 and 22.4-2
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-1.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-2.py
Due: format-py, remove-trailing-whitespace

Update kahn topological sorting
  algos/mathematics/statistics/sorting/kahn.py
Due: format-py, remove-trailing-whitespace

Add code to find strongly connected components
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-1.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-2.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/bfs.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/components.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/graph.py
Due: format-py, remove-trailing-whitespace

Add solution leetcode 35
  algos/leetcode/0035-search-insert-position.py
Due: format-py, remove-trailing-whitespace

WIP
  algos/mathematics/combinatorics/lehmer_code.py
Due: format-py, remove-trailing-whitespace

Implement lehmer code
  algos/mathematics/combinatorics/lehmer_code.py
Due: format-py, remove-trailing-whitespace

Add code to compute the diameter of a graph
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-2-8.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-1.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/22-4-2.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/bfs.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/components.py
Due: format-py, remove-trailing-whitespace

Add graph visualisation script
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/graph.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/visualise.py
Due: format-py, remove-trailing-whitespace

Fix components
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/components.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/dfs2.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/graph.py
  algos/clrs-introduction-to-algorithms/22-elementary-graph-algorithms/visualise.py
Due: format-py, remove-trailing-whitespace

Add phi_coefficient example
  algos/mathematics/statistics/phi_coefficient.py
Due: format-py, remove-trailing-whitespace

Make a bunch of my statistics scripts executable
  algos/mathematics/statistics/box_muller.py
  algos/mathematics/statistics/median_of_medians.py
  algos/mathematics/statistics/pca.py
Due: format-py, remove-trailing-whitespace

Path conditions:
  format-py: any of: \.py$
  format-nix: any of: \.nix$
  format-c: any of: \.(c|h)$
  remove-trailing-whitespace: any of: .*
